/* main page nav */
.navbar {
    font-family: 'Contrail One', cursive;
    background-color: black;
}

.navbar-brand {
    font-size: 50px;
    font-weight: 900;
    padding-left: 50px;
}

.navbar-nav {
    font-size: 28px;
    padding-right: 50px;
    text-shadow: 3px 3px 4px white;
}

/* main page jumbotron */

.jumbotron {
    background-image: url(https://images.hdqwalls.com/wallpapers/noir-5k-2t.jpg);
    background-size: cover; 
    margin-bottom: 0; 
}

.jumbo-head {
    font-weight: 300;
}

.lead {
    font-weight: 300;
    font-size: 25px;
}

/* carousel */

.carousel-main {
    position: relative;
    max-width: 1000px;
    left: 35%;
    bottom: 330px;
    /* margin-top: 30px; */
    margin-bottom: 50px;
    border: 2px solid white;
    box-shadow: 0px 0px 50px white;
    border-radius: 5px;
    padding-top: 20px;
    background-color: black;
}

.car-head {
    text-align: center;
    font-family: 'Contrail One', cursive;
    color: white;
}

/* genre navbar */

#sidebar {
    
}

